/bootstrap/compiled.php
/vendor
/report
/app/config/production
/public/img/avatar
/public/img/tricks
composer.phar
composer.lock
.DS_Store
Thumbs.db
.vagrant
_ide_helper.php
.idea
laravelrocks.md
.bowerrc
bower_components
river.md

