.image-uploader {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.6em 0;
    position: relative;
    overflow: hidden;
    padding: 55px 60px;
    border: #edece4 3px dashed;
    width: 100%;
    height: auto;
    text-align: center;
    color: #aaa9a2;
    background: #F9F8F5; }
.image-uploader a {
    color: #aaa9a2;
    text-decoration: none; }
.image-uploader a:hover {
    color: #242628; }
.image-uploader .description {
    margin-top: 10px; }
.image-uploader .media:before {
    font-family: "Icons";
    font-weight: normal;
    font-style: normal;
    vertical-align: -7%;
    text-transform: none;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\e011";
    font-size: 60px;
    color: #e7e6db;
    display: inline-block;
    vertical-align: initial;
    -webkit-transition: transform 1s ease;
    -moz-transition: transform 1s ease;
    transition: transform 1s ease; }
.image-uploader .media:hover {
    text-decoration: none; }
.image-uploader .image-url,
.image-uploader .image-upload {
    line-height: 12px;
    padding: 10px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #aaa9a2;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none; }
.image-uploader .image-url:hover,
.image-uploader .image-upload:hover {
    cursor: pointer; }
.image-uploader .image-webcam:before {
    font-family: "Icons";
    font-weight: normal;
    font-style: normal;
    vertical-align: -7%;
    text-transform: none;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\e036";
    font-size: 12px; }
.image-uploader .image-webcam:hover {
    text-decoration: none; }
.image-uploader .image-url:before {
    font-family: "Icons";
    font-weight: normal;
    font-style: normal;
    vertical-align: -7%;
    text-transform: none;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\e035";
    font-size: 12px; }
.image-uploader .image-url:hover {
    text-decoration: none; }
.image-uploader .image-upload:before {
    font-family: "Icons";
    font-weight: normal;
    font-style: normal;
    vertical-align: -7%;
    text-transform: none;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\e011";
    font-size: 12px; }
.image-uploader .image-upload:hover {
    text-decoration: none; }
.image-uploader .button-add {
    display: inline-block;
    position: relative;
    z-index: 700;
    color: #fff;
    padding-left: 5px; }
.image-uploader .button-save {
    margin: 0 0 0 10px; }
.image-uploader input.main {
    position: absolute;
    right: 0;
    margin: 0;
    opacity: 0;
    -webkit-transform-origin: right;
    -moz-transform-origin: right;
    -o-transform-origin: right;
    transform-origin: right;
    -webkit-transform: scale(14);
    -moz-transform: scale(14);
    -o-transform: scale(14);
    transform: scale(14);
    font-size: 23px;
    direction: ltr;
    cursor: pointer; }
.image-uploader input.main.right {
    right: 9999px;
    height: 0; }
.image-uploader input.url {
    font: -webkit-small-control;
    box-sizing: border-box;
    width: 276px;
    vertical-align: middle;
    padding: 9px 7px;
    margin: 10px 0;
    outline: 0;
    font-size: 1.1em;
    background: #fff;
    border: #e3e1d5 1px solid;
    border-radius: 4px;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out; }
.image-uploader .progress {
    position: relative;
    margin: -19px 0 44px 0;
    display: block;
    overflow: hidden;
    background-color: whitesmoke;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, whitesmoke), color-stop(100%, #f9f9f9));
    background-image: -webkit-linear-gradient(top, whitesmoke, #f9f9f9);
    background-image: linear-gradient(to bottom,whitesmoke, #f9f9f9);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px inset; }
.image-uploader .fileupload-loading {
    display: block;
    top: 50%;
    width: 35px;
    height: 28px;
    margin: -28px auto 0;
    background-size: contain; }
.image-uploader .failed {
    position: relative;
    top: -40px;
    font-size: 16px; }
.image-uploader .bar {
    height: 12px;
    background: #5ba4e5; }
.image-uploader .bar.fail {
    background: #e25440; }

.pre-image-uploader {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.6em 0;
    position: relative;
    overflow: hidden;
    height: auto;
    color: #aaa9a2;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    min-height: 46px; }
.pre-image-uploader input {
    position: absolute;
    left: 9999px;
    opacity: 0; }
.pre-image-uploader a {
    z-index: 10000;
    color: #aaa9a2;
    text-decoration: none; }
.pre-image-uploader a:hover {
    color: #242628; }
.pre-image-uploader img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    line-height: 0; }
.pre-image-uploader .image-cancel {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px;
    z-index: 300;
    color: #fff;
    text-decoration: none;
    line-height: 0;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 1px; }
.pre-image-uploader .image-cancel:before {
    font-family: "Icons";
    font-weight: normal;
    font-style: normal;
    vertical-align: -7%;
    text-transform: none;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\e023";
    font-size: 11px; }
.pre-image-uploader .image-cancel:hover {
    text-decoration: none; }
.pre-image-uploader .image-cancel:hover {
    color: #fff;
    cursor: pointer;
    background: #e25440; }